* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContainer {
    background-image: url(../public/vegetaImage.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -800px;
    height: 20vh;
}

.name {
    font-size: 150px;
    padding: 0px 100px;
    color: aliceblue;
}

.bioContainer {
    width: 50%;
    line-height: 30px;
    text-align: justify;
    padding: 20px 0px 0px 50px;
}

.contactContainer {
    padding: 20px 0px 0px 50px;
    line-height: 30px;
}

.contactContainer p {
    width: 40%;
    font-weight: 600;
}